<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>jrc-fapar</symbolicName>
    <version>2.1.3</version>
    <name>FAPAR Processor</name>

    <description>
        This processor computes the FAPAR value (MGVI) from MERIS Level 1b products and/or Amorgos output.
    </description>

    <vendor>Institute for Environment and Sustainability</vendor>
    <contactAddress>Joint Research Center, Via Enrico Fermi, 2749  I-21027 Ispra (VA), Italy</contactAddress>
    <url>http://fapar.jrc.ec.europa.eu/</url>

    <changelog>
        <![CDATA[
        <br>Changes in version 2.1.3:<br/>
        - Adopted to BEAM 4.7.1<br>
        <br>Changes in version 2.1.2:<br/>
        - [BEAM-1006] MER_FSG pixel geocoding not used<br>
        <br>Changes in version 2.1.1:<br/>
        - Changed module metadata information<br/>
        ]]>
    </changelog>
    <dependency>
        <module>beam-processing</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>FaparProcessor</id>
            <class>org.esa.beam.visat.actions.ProcessorAction</class>
            <processor>it.jrc.beam.fapar.FaparProcessor</processor>
            <text>FAPAR Processor ...</text>
            <shortDescr>Start FAPAR processor</shortDescr>
            <mnemonic>P</mnemonic>
            <parent>tools</parent>
            <helpID>FaparProcessorPlugIn</helpID>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/FAPARProcessor.hs</path>
        </helpSet>
    </extension>
</module>
