<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>jrc-fapar</symbolicName>
    <version>2.2</version>
    <name>FAPAR Processor</name>

    <description>
        <![CDATA[
        <p>A VISAT plug-in and stand-alone processor which computes the Fraction of Absorbed Photosynthetically
        Active Radiation (FAPAR) for MERIS Level-1b data.</p>

        <p>Documentation:</p>
        <ul>
            <li><a href="http://github.com/downloads/bcdev/beam-third-party/Readme_MGVI_Beam.txt">README</a></li>
            <li><a href="http://github.com/downloads/bcdev/beam-third-party/atbd_mgvi_jrc.pdf">ATBD</a></li>
        </ul>
        ]]>
    </description>

    <vendor>Institute for Environment and Sustainability</vendor>
    <contactAddress>Joint Research Center, Via Enrico Fermi, 2749 I-21027 Ispra (VA), Italy</contactAddress>
    <url>http://fapar.jrc.ec.europa.eu/</url>

    <changelog>
        <![CDATA[
        <br>Changes in version 2.2:<br/>
        - Adapted to BEAM 4.9<br/>
        - Necessary code modifications in order to make to output product more compliant with "official" MERIS Level 2 products.<br/>
          This has required the following changes:<br/>
          <ul>
          <li>The raw datatype of the FAPAR band has been set from uint16 to uint8</li>
          <li>Parameters "no-data value" and "valid pixel expression" of the FAPAR band have been set</li>
          <li>Scaling factor of the FAPAR band has been set from 1/250 to 1/254</li>
          <li>Scaling offset of the FAPAR band has been set to -1/254</li>
          <li>Marked "cloud over land" pixels not detected through MGVI processing.</li>
          <li>Computed anysotropic normalization and atmospheric rectification on pixels corresponding to bright surfaces.</li>
          <li>The maximum value of one of the parameters determining whether a pixel corresponds to a bright
          surface has been set from 1.25\rho_{681} to 1.3\rho_{681}.</li>
          </ul>
        <br>Changes in version 2.1.3:<br/>
        - Adapted to BEAM 4.7.1<br>
        <br>Changes in version 2.1.2:<br/>
        - [BEAM-1006] MER_FSG pixel geocoding not used<br>
        <br>Changes in version 2.1.1:<br/>
        - Changed module metadata information<br/>
        ]]>
    </changelog>
    <dependency>
        <module>beam-processing</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>FaparProcessor</id>
            <class>org.esa.beam.visat.actions.ProcessorAction</class>
            <processor>it.jrc.beam.fapar.FaparProcessor</processor>
            <text>FAPAR Processor ...</text>
            <shortDescr>Start FAPAR processor</shortDescr>
            <mnemonic>P</mnemonic>
            <parent>tools</parent>
            <helpID>FaparProcessorPlugIn</helpID>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/FAPARProcessor.hs</path>
        </helpSet>
    </extension>
</module>
