<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>jrc-fapar</symbolicName>
    <version>2.1</version>
    <name>FAPAR Processor</name>

    <description>
        Processor giving the FAPAR index from HDF5 AMORGOS output data.
    </description>

    <vendor>Institute for Environment and Sustainability</vendor>
    <contactAddress>Joint Research Centre, Via Enrico Fermi 1, I-21020 Ispra (VA), Italy</contactAddress>
    <url>http://fapar.jrc.it</url>


    <dependency>
        <module>beam-processing</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor</categories>

    <extension point="beam-visat:actions">
        <action>
            <id>FaparProcessor</id>
            <class>org.esa.beam.visat.actions.ProcessorAction</class>
            <processor>it.jrc.beam.fapar.FaparProcessor</processor>
            <text>FAPAR Processor ...</text>
            <shortDescr>Start FAPAR processor</shortDescr>
            <mnemonic>P</mnemonic>
            <parent>tools</parent>
            <helpID>FaparProcessorPlugIn</helpID>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/FAPARProcessor.hs</path>
        </helpSet>
    </extension>


</module>
